<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/pmu_2">Stručno-teorijski predmeti iz računalstva</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--<li><a href="/it">1. razred</a></li>-->
        <li><a href="/pmu_2">4. razred</a></li>
        <!--<li><a href="/links">Poveznice</a></li>-->
        <li><a href="https://baltazar-flask.github.io/skola/">SJWP + PMU</a></li>        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="?lang=hr">HR</a></li>     
        <li><a href="?lang=en">EN</a></li>
      </ul>
    </div>
  </div>
</nav>
