<!-- TEMPLATE INHERITANCE 2 -->

{% extends "base.html" %} {% block head %} {{ super() }}

<style></style>

{% endblock %} {% block content %}

<div class="container-fluid text-left">
  <!--Redak 1-->
  <div class="row">
    <div class="col-md-2 sidenav"></div>
    <div class="col-md-8 text-center">
      <a href="{{ link1 }}" class="btn btn-primary btn-lg" role="button" style="width: 300px" aria-disabled="true">
        {{ subject1 }}</a>
      <a href="{{ link2 }}" class="btn btn-primary btn-lg" role="button" style="width: 300px" aria-disabled="true">
        {{ subject2 }}</a>     
    </div>
    <div class="col-md-2 sidenav"></div>
  </div>
  <!--Redak 2-->
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{ title }}</h1>
      <br />
    </div>
  </div>
  <!--Redak 3-->
  <div class="row">
    <div class="col-md-2 sidenav"></div>
    <div class="col-md-8 text-left">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Kodovi</th>
          </tr>
        </thead>
        <tbody>
          {% for name, link in links_it.items() %}
          <tr>
            <td><a href="{{var}}{{ link }}" target="_blank">{{ name }}</a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Literatura</th>
          </tr>
        </thead>
        <tbody>
          {% for name, link in links_lit.items() %}
          <tr>
            <td><a href="{{var}}{{ link }}" target="_blank">{{ name }}</a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

      


    </div>
    <div class="col-md-2 sidenav"></div>
  </div>
  <!--Redak 4-->
  <div class="row">
    <div class="col-md-4 sidenav"></div>
    <div class="col-md-4 text-center">
      <h1>Primjer</h1>    
      <img class="img-responsive" src="{{ url_for('static', filename='images/bmi_calculator_with_python.png') }}" alt="BMI calculator">
      <br />
    </div>
    <div class="col-md-4 sidenav"></div>
  </div>

  <br>
  <br>
</div>

{% endblock %}